<!doctype html>

<head>
	<title>Runpath Test</title>
	<link rel="stylesheet" type="text/css" href="build/css/main.css">
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">

</head>

<body>

	<div class="container" ng-app="runpathTest" ng-controller="mainCtrl">

		<h1>Runpath gallery</h1>
		<section class="filter-section">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<form>
						<div class="form-group">
		  					<label for="title">Search by title</label>
		  					<input type="text" class="form-control" id="title" ng-model="searchTitle" ng-change="filterByTitle()">
						</div>
					</form>
				</div>
			</div>
		</section>

		<section class="gallery-section" >

			<div class="overlay-spinner" ng-show="loading">
				<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
			</div>

			<div class="row thumbs-row" ng-init="loadImages()">

				<div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="image in images.slice(((currentPage-1)*imagesPerPage), ((currentPage)*imagesPerPage))">
					<div class="img-container ng-cloak">
						<img src="{{image.thumbnailUrl}}" class="img-thumbnail">
						<p class="img-title text-center">{{image.title}}</p>
					</div>
				</div>

			</div>

		</section>

		<section class="pagination-section">

			<div class="row pagination-row">

				<div class="col-xs-12">
					<uib-pagination total-items="totalImages" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true"></uib-pagination>
				</div>

			</div>

		</section>



	</div>

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
	<script src="build/js/main.min.js"></script>
	
</body>
